@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(249 250 251 / var(--tw-bg-opacity, 1));
}

h1,
h2,
h3,
h4 {
  font-family: "Roboto", serif;
}

* {
  font-family: "Merriweather", serif;
}
